* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100vw;
  height: 70px;
  box-shadow: 2px 2px 5px black;
}

nav .nav-container {
  max-width: 1350px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-logo p {
  font-size: 20px;
  font-weight: 600;
  color: blue;
}
.nav-logo p span {
  color: orangered;
}

ul {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
ul li {
  font-size: 20px;
  font-weight: 400;
}
ul li:hover {
  color: orangered;
  cursor: pointer;
  text-decoration: underline;
}

.nav-btn {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-btn button {
  padding: 8px 15px;
  font-size: 15px;
  border-radius: 20px;
  border: none;
  background-color: purple;
  color: white;
}
.nav-btn button:hover {
  cursor: pointer;
  background-color: rgba(128, 0, 128, 0.708);
  box-shadow: 1px 1px 4px blue;
}

/* login ui */
.login-container {
  width: 400px;
  padding: 5px;
  border: 1px solid blue;
  margin: 10px auto;
  border-radius: 10px;
  background-image: url("https://i.pinimg.com/236x/b6/55/0e/b6550ea6be31e6e9eccb4adb6885f728.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.login-container h1 {
  text-align: center;
  color: white;
}
.login-group {
  padding: 6px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.login-group label{
  color: white;
}
.login-group input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 2px solid blue;
  background-color: inherit;
}

.login-group input::placeholder{
  color: white;
}

.login-container p{
  text-align: end;
  margin: 5px 10px 5px 0px;
  text-decoration: underline;
  cursor: pointer;
  color: white;
}

.login-btn{
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-btn button{
  padding :4px 140px;
  border: none;
  border-radius: 20px;
  background-color: red;
  color: white;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
}

