h1{
    background-color: red;
}

/*Selectors*/
/* Types of selectors
=>simple selector
-> id selector
->class selector
->tag name selector
->group name selector
->*/








 #paragraph{
    background-color: aqua;
 }
    .p-class{
    color: brown;
 }
 h1{
    background-color: red;
 }
 #paragraph,h1{
    font-style: italic;
 }
 /*~Universal selector*/
 /*{
    font-family: fantasy;
    }

 /* => combinator selector
 ->descedent selector
 ->child selector
 ->Adjascent sibiling selector
 ->general sibiling selector
 /*/
 .parent p{
    background-color: chartreuse;
 }
 .parent>p{
    background-color: crimson;
 }
 .parent + div{
    background-color: darkorange;
 }
 .parent ~ div{
    background-color: darkorchid;
 }
 /*=>pseudo class selector
 ->hover
 ->active
 ->focus
 ->nth-child
 ->first-child
 ->last child
 /*/
 section{
    width: 100px;
    height: 50px;
    background-color: blue;
 }
 section:hover{
    background-color: coral;
    font-size: 20px;
 }
 section:active{
    background-color: red;
 }
 input:focus{
    background-color: green;
 }
 li:first-child{
    color: red;
 }
 li:last-child{
    color: yellow;
 }
 li:nth-child(3){
    color: brown;
 }

 *{
    box-sizing: border-box;
 }

 /*box-model*/
 .box{
    width: 100px;
    height: 100px;
    padding: 10px 5px ;
    border: 10px dotted red;
    margin: 100px 300px;
    margin-left: 400px;
 }